@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1,h2,h3,h4,h5,h6
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.9rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.5rem;
}

.texter, .texter::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  outline: 0;
}

p, button, a, hr, br, div, span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ww100
{
  width: 100vw;
}

.hh100
{
  height: 100vh;
}

.w100
{
  width: 100%;
}

.h100
{
  height: 100%;
}

.flex {
  display: flex;
}
.flexcenter {
  align-items: center;
  justify-content: center;
}